.IconSwitch span {
  cursor: pointer;
}

.CardsView {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ShopCard {
  text-align: center;
  box-sizing: border-box;
  color: #000;
  position: relative;
  background: #f5f5f5;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 2px 4px 10px #555;
}

.ShopCard header, .ShopCard footer {
  position: absolute;
  width: 100%;
}

.ShopCard header {
  top: 20px;
}

.ShopCard .Color {
  font-weight: 100;
}

.ShopCard .Price, .ShopItem .Price {
  font-weight: 400;
  color: #da5441;
}

.ShopCard button, .ShopItem button {
  padding: 10px 25px;
  font-weight: 600;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  color:  #da5441;
  border: 2px solid #da5441;
  border-radius: 30px;
  text-transform: uppercase;
}

.ShopCard footer {
  bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-around;
  align-items: center;
}

.ShopCard img {
  width: 350px;
  padding: 10px;
}

.ShopCard h3, .ShopItem h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
}

.ShopItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 0 10px;
  margin: 1px 0;
  height: 90px;
}

.ShopItem .Image {
  width: 120px;
  height: 90px;
  position: relative;
  overflow: hidden;
}

.ShopItem img {
  margin: -27px 0;
  width: 120px;
  height: 120px;
}

.Store {
  max-width: 1284px;
  margin: 0 auto;
  width: 100%;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  /* font-size: calc(10px + 2vmin); */
  color: #282c34;
  padding: 30px;
}

.App {
  margin: 0 auto;
  max-width: 1280px;
}