.App {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.Portfolio {
  padding: 20px 5px;
}

.Portfolio div {
  column-count: 3;
  column-gap: 15px;
}

.Portfolio img {
  width: 100%;
  padding-top: 10px;
}

.Toolbar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Toolbar li {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 3px;
  border: 1px solid #000;
  cursor: pointer;
}

.Toolbar .selected {
  background-color: #000;
  color: #fff;
}

.App-link {
  color: #61dafb;
}

