.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rgb,
input {
  text-align: center;
  height: 80px;
  width: 280px;
  font-size: 2rem;
  padding: 1rem 0;
  box-sizing: border-box;
  outline: none;
}
.rgb {
  margin-top: 5px;
  background: #34495e;
}