.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

/* Update */

.Update {
  display: flex;
  width: 83%;
  align-items: center;
}

.Update button {
  margin-left: 15px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  color: green;
  font-weight: 600;
  font-size: large;
  /* background: #000; */
}

/* Notes */

.Notes {
  display: flex;
  flex-wrap: wrap;
  width: 86%;
}

/* Notes |-- Note */

.Note {
  max-width: 250px;
  padding: 0 15px;
  border: 1px solid #fff;
  margin: 30px 15px;
  position: relative;
}

.Note button {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: -10px;
  right: -20px;
}

/* Form */
.Form {
  display: flex;
  align-items: center;
}

.Form button{
  padding: 5px;
  margin: 5px;
}